.container-info-feed {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(148, 148, 148, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(148, 148, 148, 0.75);
}

.container-user-info {
  display: flex;
  flex: 3 1;
  background-color: white;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
}

.container-user-info h4 {
  margin-top: 120px;
  font-weight: 700;
  color: #16697a;
}

.container-user-feed {
  display: flex;
  flex-direction: column;
  flex: 9 1;
  background-color: rgba(239, 253, 255, 0.87);
  padding: 35px 60px;
}

.container-user-feed h2 {
  font-weight: 700;
  color: #267b99;
}

.container-profile-feed {
  margin: -8% -5% -5% -18%;
}

.container-cover-picture {
  object-fit: cover;
}

.profile-page-cover {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: 0 30%;
}

.profile-page-dp {
  background-color: white;
  border: 1px solid #489fb5;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: -100px;
  left: -50%;
}

.follow-btn {
  margin: 7.5px 0;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.user-info-list {
  margin-top: 15px;
  font-size: 16px;
}

.user-info-list {
  list-style: none;
}

.user-info-list li::before {
  content: "🚀";
  margin-right: 10px;
}

.social-media-icons {
  font-size: 30px;
  line-height: 1;
  margin-top: 10px;
  z-index: 2;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  .container-user-feed {
    flex: 8 1;
  }

  .container-user-info {
    flex: 4 1;
  }

  .container-profile-feed {
    margin-top: -12%;
    margin-left: -19%;
    margin-right: -12%;
  }

  .profile-page-cover {
    height: 50vh;
  }

  .profile-page-dp {
    height: 140px;
    width: 140px;
    top: -70px;
  }

  .container-user-info h4 {
    margin-top: 90px;
  }

  .follow-btn {
    font-size: 16px;
  }

  .follow-btn svg {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .container-profile-feed {
    margin-left: -12%;
    margin-top: -5%;
  }

  /* .change-dp {
    top: 2.5%;
  } */

  /* .container-profile-feed {
    margin-top: -12.5%;
    margin-left: -12%;
  } */
}

@media (max-width: 660px) {
  .profile-page-cover {
    height: 40vh;
    object-position: center;
  }

  .profile-page-dp {
    height: 120px;
    width: 120px;
    top: -60px;
  }
}

@media (max-width: 600px) {
  .container-info-feed {
    flex-direction: column;
  }

  /* .change-dp {
    top: 6%;
    left: 55%;
  } */

  .container-user-feed {
    padding: 20px 40px;
  }

  .container-profile-feed {
    margin-top: -2%;
    margin-right: -12%;
  }

  .container-user-info h4 {
    margin-top: 75px;
  }

  .follow-btn {
    /* padding: 2.5px 7.5px; */
    font-size: 15px;
  }

  .user-info-list {
    margin-top: 10px;
    font-size: 15px;
  }
}