.buddy-todo-list {
  background-color: rgba(239, 253, 255, 0.87);
  /* min-height: 85vh; */
  margin: 25px 0;
  padding: 10px 40px;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .buddy-todo-list {
    padding: 10px 20px;
  }
}
