.container-success {
  display: flex;
  width: 100%;
  background-color: rgba(239, 253, 255, 0.87);
  min-height: 95vh;
  justify-content: center;
}

@media (max-width: 750px) {
  .container-success {
    flex-direction: column-reverse;
  }
}
